<div id='gmap' data-markers="<%= marker_info_for_schools(@schools) %>" data-home="<%= marker_info_for_coordinates(@home) %>">

</div>
<!-- Search form -->
<%= form_for @school_searcher, url: search_path, html: { class: "js-search-form-results", method: :get } do |f| %>
  <%= render partial: 'schools/form_search', locals: { f: f } %>
<% end %>
<!-- /End search form -->
<div>
  <%= form_tag filter_schools_path, method: :post, id: 'filter_schools', remote: true do %>
    <div>
      <%= label_tag :shift do %>
        <%= check_box_tag 'school_filters[shift][]', t('forms.filters.morning') %>
        <%= t('forms.filters.morning') %>
      <% end%>
      <%= label_tag :shift do %>
        <%= check_box_tag 'school_filters[shift][]', t('forms.filters.evening') %>
        <%= t('forms.filters.evening') %>
      <% end%>
      <%= label_tag :shift do %>
        <%= check_box_tag 'school_filters[shift][]', t('forms.filters.night') %>
        <%= t('forms.filters.night') %>
      <% end%>
      <%= label_tag :shift do %>
        <%= check_box_tag 'school_filters[shift][]', t('forms.filters.mixed') %>
        <%= t('forms.filters.mixed') %>
      <% end%>
    </div>
    <%= submit_tag t('helpers.filter'), data: {disable_with: t('helpers.filtering')} %>
  <% end %>
</div>
<table id='school-results'>
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Distancia</th>
    <th>Cupo Disponible</th>
    <th>Posición municipal</th>
  </thead>
  <% @schools.each_with_index do | school, index | %>
    <tr>
      <td><%= index+1 %> </td>
      <td><%= link_to school.name, school_path(school) %> </td>
      <td><%= school.distance.round(2) %> km </td>
      <td><%= school.availability %> </td>
      <td><%= school.city_rank %></td>
    </tr>
  <% end%>
</table>
